<div class="col-lg-4">
    <h5 class="mb-5 hover" style="cursor: pointer;" [routerLink]="['/']">
        < Back</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Sea Level</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="detailData.length > 0; else elseBlock">
                        <tr *ngFor="let city of detailData;let i =index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{city.temp}}°</td>
                            <td>{{city.sea_level}}</td>
                        </tr>
                    </ng-container>
                </tbody>
                <ng-template #elseBlock>
                    <p class="loading">
                        Loading...
                    </p>
                    
                </ng-template>
            </table>

</div>