<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">City</th>
        <th scope="col">Temperature</th>
        <th scope="col">Sunrise Time</th>
        <th scope="col">Sunset Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities;let i=index;">
        <th scope="row">{{i+1}}</th>
        <td style="cursor: pointer;" (click)="gotoDetail(city)">{{city.cityname}}</td>
        <td>{{city.temperature}}°</td>
        <td>{{city.sunriseTime}}</td>
        <td>{{city.sunsetTime}}</td>
      </tr>
    </tbody>
  </table>
